<h1>Welk product wil je verkopen?</h1>

<form [formGroup]="productForm">
  <label>
    Productnaam
    <input type="text" formControlName="productNaam">
  </label>
  <label>
    <br>
    Categorie
    <button class="extra-informatie" (click)="toggleShowCategorieen()">i</button>
    <ul [hidden]="!showCategorieen" class="extra-informatie-venster">
      De mogelijke categorieën zijn:
      <li *ngFor="let categorie of categorieen | async">{{categorie}}</li>
    </ul>
    <input type="text" formControlName="categorie">
  </label>
  <label>
    Omschrijving
    <textarea formControlName="omschrijving" rows="10"></textarea>
  </label>
  <label>
    Prijs
    <input type="text" formControlName="prijs">
  </label>
  <label>
    Bijlage
    <input type="file" formControlName="bijlage">
  </label>
  <label>
    Verzendmethode
    <input type="text" formControlName="verzendmethode">
  </label>
  <button type="submit" (click)="onSubmit()">Submit</button>

</form>


