<h1>Welk product wil je verkopen?</h1>

<form [formGroup]="productForm">
  <label>
    Productnaam
    <input type="text" formControlName="artikelNaam">
  </label>
  <label>
    Categorie

    <button class="extra-informatie" (click)="toggleShowCategorieen()">i</button>
    <div [hidden]="!showExtraInfoCategorieen" class="extra-informatie-venster">
      <p>Kies hier onder welke categorie je product valt.</p>
      <p>Voorbeeld: Een paar schoenen vallen onder de categorie "Kleding".</p>
    </div>

    <select formControlName="categorie">
      <option disabled selected value>-- Kies een categorie --</option>
      <option *ngFor="let categorie of categorieen | async">{{categorie}}</option>
    </select>
  </label>
  <label>
    Omschrijving
    <textarea formControlName="omschrijving" rows="10"></textarea>
  </label>
  <label>
    Prijs
    <input type="number" formControlName="prijs">
  </label>
  <label>
    Bijlage
    <input type="file" formControlName="bijlagen">
  </label>
  <label>
    Bezorgwijze
    <input type="text" formControlName="verzendmethode">
  </label>
  <button type="submit" (click)="onSubmit()">Plaats product</button>

</form>


