<div class="container">
  <a href="/">
    <img
      src="https://www.belastingdienst.nl/wps/wcm/connect/nl/home/resources/0/1/0109b942-4d5a-409a-bbb6-9da8bde4a8f3/bld_logo_belastingdienst.png"
      class="logo" alt="logo">
  </a>
</div>
<header>
  <div class="container">
    <nav>
      <ul>
        <!--        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>-->
        <li><a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Login</a></li>
        <li><a routerLink="/registreer" routerLinkActive="active">Registreer</a></li>
        <li><a routerLink="/aanbieden" routerLinkActive="active">Product verkopen</a></li>
        <li><a routerLink="/zoek" routerLinkActive="active">Zoek product</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="router-container">
  <router-outlet></router-outlet>
</div>
