/* You can add global styles to this file, and also import other style files */
body {
  width: 100%;
  margin: auto;
  padding: 0;
  font-family: "RO Sans", Verdana, Arial, sans-serif;
  font-size: 15px;
}
